---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=carlos.test%40example.com&name=Carlos+Mota
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - fb5aef38-7c9b-4d6b-bd97-54da6540278a
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fb5aef38-7c9b-4d6b-bd97-54da6540278a
      Original-Request:
      - req_tpcQ21IhkmCZFt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_UxndIEsXvEDBQy",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1785172204,
          "currency": null,
          "customer_account": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "carlos.test@example.com",
          "invoice_prefix": "9ZUAYOKB",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Carlos Mota",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 27 Jul 2026 17:10:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_UxndIEsXvEDBQy/sources
    body:
      encoding: UTF-8
      string: source=tok_chargeDeclined
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 352f1362-eebb-452c-b448-05ded5ebee4e
      Stripe-Version:
      - 2026-06-24.dahlia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 352f1362-eebb-452c-b448-05ded5ebee4e
      Original-Request:
      - req_EvwUPBPAQwaEjE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2026-06-24.dahlia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "advice_code": "try_again_later",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "network_decline_code": "01",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/acct_1NskuKHYbTnxB0SP/test/workbench/logs?object=req_EvwUPBPAQwaEjE",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 27 Jul 2026 17:10:05 GMT
recorded_with: VCR 6.4.0
